<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('image/favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<header>
    <h1><img src="{{ asset('image/logo-512.png') }}" alt="un logo" width="35px">BucketList</h1>
    <nav>
        <ul>
            <li><a href="{{ path('app_main') }}">Home</a></li>
            <li><a href="{{ path('app_wish') }}">List</a></li>
            <li><a href="{{ path('app_about') }}">About</a></li>
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}
<footer>
    <p>je suis un footer ® {{ 'now'|date('Y') }}</p>
</footer>
</body>

</html>
